<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SIM_API_LINKS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SIM_API_LINKS.Properties.Settings>
            <setting name="DatabaseType" serializeAs="String">
                <value>OLEDB</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
             <value>Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\c\SimLink2.0_NewHaven_LOCAL.mdb</value>
	    </setting>
            <setting name="CurrentLayout" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="LayoutList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Default</string>
                    </ArrayOfString>
                </value>
            </setting>
        </SIM_API_LINKS.Properties.Settings>
    </userSettings>
</configuration>